html {
    font-size: 100%;
    // 1rem = 20px / 1em =          20px
    // 0.5rem = 10px / 0.5em =      10px
    // 0.05rem = 1px / 0.05em =      1px
    
    /* CALCUL FONT SIZE */
    // (Size_souhaité_px * 1) / 20 = Size_souhaité_rem
}
div#fullpage {
    text-align: center;
    .inner {
        width: 80vw;
        margin: 0 auto;    
        max-width: 1350px;
        position: relative;
    }
}