div {
    font-size: 100px;
    text-align: center;
}

div#menu {
position: fixed;
display: flex;
top: 0;
width: 100vw;
justify-content: space-between;
z-index: 9999;
font-size: 25px;
color: black;
padding: 20px 0 0 0;
}

div#footer {
position: fixed;
bottom: 0;
height: 50px;
display: block;
text-align: left;
z-index: 9999;
font-size: 25px;
color: black;
padding: 20px 0 0 0;
}

div#slider {
position: fixed;
bottom: 40px;
right: 0;
display: block;
text-align: right;
z-index: 9999;
font-size: 25px;
color: black;
padding: 20px 0 0 0;
transform: rotate(-90deg);
}

#menu img {
margin-left: 50px;
}

#menu ul {
padding: 0;
margin: 0;
margin-right: 50px;
}

#menu ul>a {
text-decoration: none;
color: black;
padding: 0 10px;
}

#menu li {
list-style: none;
display: inline;
}